
.header {
    padding: 20px;

}
.corgi{
	border-radius: 25%;
}
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	background: #f8d2997e;
	padding: 20px 0;
}
ul {
	display: inline-block;
	vertical-align: top;
	align-items: center;
	width: 20%;
	margin-right: 15%;

}
.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav li {
	display: inline;
	margin: 0 0 0 20px;
	padding-left: 70%;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

footer{
    text-align: center
}
.footer{
	background: #fccb81;
    padding: 5%;
    text-align: center
	
}

.img{

    height: 30%;
    width: 30%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.carrossel{
	object-fit: cover;
	
	height: 400px;
}
h1{
	color: #000000;
	font-size: large;
	padding-top: 3%;
	padding-bottom: 3%;
	
}
p{
	color: #000000;
	
}
.fontecarrossel {
	font-family: 'Abril Fatface', cursive;
	
}
.img1{
	object-position: 0 80%;	
}
.img2{
	object-position: 0 40%;
}
.img3{
	object-position: 0 50%;
}

#botao{
	
	width:40%;
	padding: 1%;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	
	
}
.botao:hover {
	background: rgb(255, 51, 0);
	transform: scale(1.2);
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
	padding-top: 2%;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: rgb(252, 107, 41);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

#bota{
	
	width:20%;
	padding: 0.5%;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	
	
}
.bota:hover {
	background: rgb(255, 51, 0);
	transform: scale(1.2);
}